

@model ForgotPasswordViewModel;



<body style=" background-color: rgba(0, 0, 0, 0.082);">
    <div class="container m-auto" id="forgot-password">
        <div class="row" style="margin:30px;">
            <div class="col-md-6 mx-auto d-flex m-5 justify-content-center rounded" id="myBorder">


                <div class="col-10 mx-auto p-5">
                    <h4 class="font-weight-bold color-primary mb-2" id="forgot-form__lead">Forgot your password?</h4>
                    <p class="mt-3">Enter the email associated with your account we will send you an email with instructions on how to reset your password</p>
                 
                    
                    <form method="post">
                        <div class="form-group" style="margin-top:25px;">
                            <div class="input-group  forgot-input">

                                <input asp-for="Email" type="text" class="form-control" style="min-width:70px;" placeholder="Email">

                                <div class="input-group-append" style="">
                                    <span class="input-group-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2078bf" class="bi bi-envelope"
                                             viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div asp-validation-summary="All"  class="text-danger forgotPass-list-error" style="list-style:none;"></div>
                            
                        <div class="">
                            <button type="submit" class="btn btn-primary mt-3" style="width:150px;">Send</button>
                            <a asp-action="Login" asp-controller="Account" type="button" class="btn btn-outline-success mt-3" id="create-agent__btn" style="width:150px">Go to Login</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    @section scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
</body>