<section id="passResetConfirm" class="text-center" style="padding-top:100px;">
    <div class="row d-flex justify-content-center" style="max-width:100%;">
        <div class="img-fluid mb-4 mr-5">
            <img src="https://res.cloudinary.com/decagom/image/upload/v1623765435/MicrosoftTeams-image_20_vbsdmd.png" />
        </div>
        <div class="">
            <h1>Reset Password Link Sent</h1>
            <p class="container-fluid">A link has been sent to your Email. Please follow the link<br /> to reset your password.. </p>
        </div>
    </div>
    <div class="" style="margin-bottom:20vh;"><a class="btn btn-success rounded mt-5 px-5" asp-action="Index" asp-controller="Home" style="background: #06864D; ">Goto home</a></div>
</section>
<partial name="_FooterLowerPartial" />