@{
    ViewData["Title"] = "PasswordResetConfirm";
}

    <section id="passResetConfirm" class="text-center w-75 m-auto">
        <div class="row d-flex justify-content-center">
            <div class="img-fluid mb-4 mr-sm-5 ">
                <img src="~/images/assets/success-mark.png" />
            </div>
            <div class="">
                <h1>Password Reset</h1>
                <p>Your password has been reset successfully</p>
            </div>
        </div>
        <a class="btn btn-success rounded mt-5 px-5" asp-action="Login" asp-controller="Account">Log In</a>
    </section>
    <partial name="_FooterLowerPartial" />