@model ResetPasswordViewModel
@{
    var email = ViewBag.Email;
    var token = ViewBag.Token;
}

<div class="container" id="reset-password">
    <div class="row">
        <div class="col-md-8 mx-auto d-flex m-5 justify-content-center bg-light rounded">
            <div class="col-10 mx-auto p-5">
                <h1 class="text-left font-weight-bold">Reset Password</h1>
                <form method="post" action ="ResetPassword">
                    <input type="hidden" name="email" value="@email" /> 
                    <input type="hidden" name="token" value="@token" />
                    <div class="form-group">
                        <label asp-for="Password"></label><span class="text-danger">*</span>
                        <div class="input-group  password-input">
                            <input asp-for="Password" class="form-control border-right-0" placeholder="Enter New Password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <img src="~/images/assets/form-lock.png" />
                                </span>
                            </div>
                        </div>
                        <small class="text-danger"> <span asp-validation-for="Password"></span></small>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label><span class="text-danger">*</span>
                        <div class="input-group  password-input">
                            <input asp-for="ConfirmPassword" class="form-control border-right-0" placeholder="Re-enter New Password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <img src="~/images/assets/form-lock.png" />
                                </span>
                            </div>
                        </div>
                        <small class="text-danger"> <span asp-validation-for="ConfirmPassword"></span></small>
                    </div>
                    <div asp-validation-summary="All" class="text-danger" id="resetpass-list-error"></div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-success mt-3" id="reset-password-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


