
<section id="PaymentConfirm" class="text-center" style="padding-top:100px;">
    <div class="row d-flex justify-content-center" style="width:100%;">
        <div class="img-fluid mb-4 mr-5">
            <img src="https://res.cloudinary.com/decagom/image/upload/v1623765435/MicrosoftTeams-image_20_vbsdmd.png" />
        </div>
        <div class="">

            <div class="container-fluid text-left">

                <h1 class="text-left">Congratulations!</h1>
                <p>Your Order Was Placed</p>
            </div>

        </div>
    </div>
    <div style="margin-bottom:20vh;display:inline-block;">
        <a class="btn btn-success rounded mt-5 px-5" asp-action="Index" asp-controller="Market" style="background: #06864D; ">Go To Market</a>
        <a class="btn btn-success rounded mt-5 px-5" asp-action="Index" asp-controller="Dashboard" style="background: #06864D; ">Go To Dashboard</a>
    </div>
</section>
