<div class="container" style="color: #737373;">
    <div class="row pt-4 pr-4">
        <div class="col-lg-12 d-flex align-items-end pt-lg-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item text-decoration-none"><a href="#" class="text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item text-decoration-none"><a href="#" class="text-decoration-none">Market</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </nav>
        </div>
    </div>

    <h3 class="d-inline">Shopping Cart</h3><span id="number-of-items"></span>
    <hr/>
    <table class="table table-borderless" id="shopping-cart-table" style="color: #737373">
        <tr class="border-0">
            <th>Product Details</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
    </table>

    @{
        var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
        var userRoll = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
    }
    @if (userId == null || (userId != null && userRoll.ToLower() == "customer"))
    {
        <div class="d-flex flex-row-reverse" id="cart-table-container">
        </div>

    }
</div>
