@model SingleUserVm

<div class="container p-5 ml-10 bg-light">
    <div class="mb-1">
        <h2 class="brand pl-0" style="color:#2078BF; ">Registered Users</h2>
    </div>


    <div class="">

        <div class="parent">
            <div class="box-one">
                <h4 class="myh3">
                    <span class="color-secondary">
                        FirstName LastName
                    </span>
                    <br />
                    <span class="color-secondary">myUser@gmail.com</span>
                </h4>
                <br />
                <h5>
                    <span class="color-secondary">Business Location</span>
                    <br />
                    <span class="color-secondary">Agent</span>

                </h5>
            </div>
            <div class="box-two">
                <div class="image">
                    <img class="myimg" src="">
                </div>
            </div>
        </div>
    </div>
        

    </div>


</div>