@{var hist = ViewData["Histories"] as List<TrackingHistoryViewModel>;}

<div class="col-sm-12" style="padding-top: 5px; padding-bottom:50px;">
    
        <div class="accordion" id="accordionExample">
            <div class="card border border-bottom">
                
                    <h5 class="mb-0">
                        <button class="btn btn-link" style="color:#2078BF" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tracking History
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show text-align-left" aria-labelledby="headingOne" data-parent="#accordionExample" style="font-family: 'Ubuntu', sans-serif; color: #838383; font-size: 14px; font-style: normal; font-weight: 400; line-height: 10px; letter-spacing: 0px">
                    @if (hist != null)
                    {
                        <div class="card-body">
                            @foreach (var item in hist)
                            {
                                <p>Status: @item.Status</p>
                                <p>Description: @item.Description</p>
                                <p>Location: @item.Location</p>
                                <p>Order Id: @item.OrderId</p>
                                <hr />
                            }
                        </div>
                    }
                    else
                    {

                        <div class="card-body">
                            <p>No Record Found</p>
                        </div>
                    }
                </div>
            
        </div>
    
</div>

