
<div class="container" id="reset-password">
    <div class="row">
        <div class="col-md-8 mx-auto d-flex m-5 justify-content-center bg-light rounded">
            <div class="col-10 mx-auto p-5">
                <h1 class="text-left font-weight-bold">Select payment method</h1>
                <div class="text-center">
                    <a asp-action="Authorize" asp-controller="Checkout" class="btn btn-success mt-3" id="reset-password-btn">Flutterwave</a>
                    <a asp-action="Paystack" asp-controller="Checkout" class="btn btn-success mt-3" id="reset-password-btn">Paystack</a>
                </div>
            </div>
        </div>
    </div>
</div>
