@model ChangePasswordViewModel

@if (ViewBag.resp == "saved")
{
    <div class="alert alert-success" role="alert">
        Password Changed.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (ViewBag.resp == "notsaved")
{
    <div class="alert alert-danger" role="alert">
        Password Not Changed. Try Again
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="col-sm-12 pl-1 pr-1">
    <div class="d-flex justify-content-between">
        <p class="">Fields with <span class="text-danger">*</span> are required</p>
        <a asp-controller="Dashboard" asp-action="Profile" asp-route-q="update-profile" type="submit" class="btn text-white" style="background:green;">Update Profile</a>
    </div>
    <div class="col-sm-12">
        <h6 class="text-left px-3" style="color: #2078BF">Reset Password</h6>
        <form method="Post" asp-controller="Dashboard" asp-action="ChangePassword">
            <div class=" text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="col-sm-10 offset-1">
                <div class="form-group">
                    <label asp-for="OldPassword">Current Password<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <input type="password" asp-for="OldPassword" class="form-control" placeholder=" Enter Old Password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/images/assets/form-lock.png" />
                            </span>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="OldPassword"></span></small>
                </div>
            </div>
            <div class="col-sm-10 offset-1">
                <div class="form-group">
                    <label asp-for="NewPassword">New Password<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <input type="password" asp-for="NewPassword" class="form-control" placeholder=" Enter New Password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/images/assets/form-lock.png" />
                            </span>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="NewPassword"></span></small>
                </div>
            </div>
            <div class="col-sm-10 offset-1">
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword">Confirm New Password<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/images/assets/form-lock.png" />
                            </span>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="ConfirmNewPassword"></span></small>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3" id="create-agent__btn">Save</button>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
