<footer class="footer text-muted align-center footer-container my-0 py-0">
    <div class="container">

        <section class="d-lg-flex text-md-center py-4 footer-contents">
            <div class="col-lg-4 text-lg-left text-white ml-lg-4">
                <h6 class="sub-text-light">Get our latest news</h6>
                <h6 class="sub-text-bold">Newsletter</h6>
            </div>
            <div class="col-lg-8 text-lg-left align-center">
                <div class="subscribe-container">
                    <input class="subscribe-input p-2" type="text" placeholder="Email Address" />
                    <button class="btn m-0 button-subscribe text-light">
                        Subscribe
                        <img class="ml-4 arrow-sub" src="~/images/assets/subscribe-arrow.png" alt="subscribe" />
                    </button>
                </div>
            </div>
        </section>
    </div>
</footer>
