<footer class="footer text-muted align-center footer-container my-0 footer-top-partial">
    <div class="container">
        <section class="d-lg-flex row pb-0 text-md-center footer-contents">

            <div class="col-lg-3"></div>
            <div class="col-lg-3 pt-5 justify-content-sm-center">
                <div class="text-white text-lg-left top-text-footer mx-auto">
                    <div class="">
                        <b class="get-benefit-text">Get More Benefits</b>
                        <h6 class="download-title">DOWNLOAD THE APP</h6>
                    </div>
                    <div class="">
                        <p class="download-text">
                            Download our Mobile Application to continue enjoying or service on the go with your smartphone
                        </p>
                    </div>
                    <div class="">
                        <img src="~/images/assets/app-buttons.png" alt="live stock delivery in 24/7" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pt-md-2 pb-0">
                <img class="footer-phone" src="~/images/assets/footer-phone.png" alt="live stock delivery in 24/7" />
            </div>

            <div class="col-lg-3"></div>
        </section>
    </div>
</footer>

