
<footer class="footer text-muted align-center footer-container my-0 py-0">
    <div class="container">
        <section class="foot-lower">
            <div class="footer-contents footer-lower-content">
                <div class="">
                    <div class="text-left footer-cattle">
                        <div class="" style="position:relative; overflow:hidden; width:80px; height:70px;">
                            <a asp-action="index" asp-controller="home"><img src="~/images/assets/footer-logo.png" alt="live stock delivery" style="margin:-20px 0px 0px -14px" /></a>
                        </div>
                    </div>
                    <div class="py-0">
                        <p class="foot-text text-wrap text-light text-left">
                            The vision of Livestock247.com is to mitigate the
                            spread of zoonotic diseases through the provision of
                            fit-for-slaughter and traceable livestock to our customers.
                        </p>
                    </div>
                </div>
                <div class="">
                    <div class="text-left mx-auto text-light py-4 foot-text">
                        <h6>Quick links</h6>
                    </div>
                    <div class="foot-text mx-auto text-wrap text-light text-left">
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Be a Partner</li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex contact-big-text text-left text-light py-4">
                        <h6>CONTACTS</h6>
                    </div>
                    <div class="foot-text text-wrap text-light text-left d-flex">
                        <ul class="list-unstyled mr-lg-4">
                            <li>Phone:</li>
                            <li>E-mail:</li>
                            <li>Address:</li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>0906-290-3550</li>
                            <li>&#64;livestock247.com</li>
                            <li>
                                4th Floor, Valley View Plaza, 99 Opebi Road, Ikeja, Lagos-Nigeria.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-app-logo">
                <img src="~/images/assets/app-buttons.png" alt="download app" />
            </div>
            <div class="d-flex text-light row footer-bottom">
                <div class="col-lg-4 text-lg-left bottom-app-logo">
                    <p>© 2018 Livestock247</p>
                </div>
                <div class="col-lg-4 d-flex text-decoration-none justify-content-around">
                    <a href="#" class="text-white">FAQ</a>
                    <a href="#" class="text-white">Privacy</a>
                    <a href="#" class="text-white">Terms & Conditions</a>
                </div>
                <div class="col-lg-4 footer-socials text-lg-right">
                    <a href="#"><img src="~/images/assets/Icon_Fb.png" alt="facebook" /></a>
                    <a href="#"><img src="~/images/assets/Icon_Google_Plus.png" alt="google plus" /></a>
                    <a href="#"><img src="~/images/assets/Icon_Twitter.png" alt="twitter" /></a>
                    <a href="#"><img src="~/images/assets/Icon_Insta.png" alt="Instagram" /></a>
                </div>
            </div>
        </section>
    </div>
</footer>

