@model UpdateProfileViewModel

@if (ViewBag.res == "saved")
{
    <div class="alert alert-success" role="alert">
        Saved
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (ViewBag.res == "notsaved")
{
    <div class="alert alert-danger" role="alert">
        Not Saved. Try Again
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="col-sm-12 pl-1 pr-1">
    <div class="d-flex justify-content-between">
        <p class="">Fields with <span class="text-danger">*</span> are required</p>

        <a asp-controller="Dashboard" asp-action="Profile" asp-route-q="change-password" type="submit" class="btn text-white" style="background:green;">Change Password</a>
    </div>

    <form method="Post" asp-controller="Dashboard" asp-action="Profile" asp-route-q="update-profile">
        <div class=" text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="agent-section__heading">Contact</h2>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="FirstName">FirstName<span class="text-danger">*</span></label>
                    <div class="input-group agent-input">
                        <input type="text" asp-for="FirstName" class="form-control" placeholder="FirstName">

                        <div class="input-group-append">
                            <span class="input-group-text"><img src="~/images/assets/form-user.png" /></span>
                        </div>

                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="FirstName"></span></small>
                </div>

                <div class="form-group">
                    <label asp-for="Email">Email<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/images/assets/form-envelope.png" />
                            </span>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="Email"></span></small>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="LastName">LastName<span class="text-danger">*</span></label>
                    <div class="input-group agent-input">
                        <input type="text" asp-for="LastName" class="form-control" placeholder="LastName">

                        <div class="input-group-append">
                            <span class="input-group-text"><img src="~/images/assets/form-user.png" /></span>
                        </div>

                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="LastName"></span></small>
                </div>

                <div class="form-group">
                    <label asp-for="Phone">Phone Number<span class="text-danger">*</span></label>
                    <div class="input-group agent-input">
                        <input type="text" asp-for="Phone" class="form-control" placeholder="Phone">

                        <div class="input-group-append">
                            <span class="input-group-text"><img src="~/images/assets/form-phone.png" height="23px" /></span>
                        </div>

                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="Phone"></span></small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="agent-section__heading">Delivery Address</h2>
            </div>
            <div class="form-group col-sm-12">
                <label asp-for="DeliveryAddress.Street">Street<span class="text-danger">*</span></label>
                <div class="input-group  agent-input">
                    <input type="text" asp-for="DeliveryAddress.Street" class="form-control" placeholder="Street">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <img src="~/images/assets/form-city-marker.png" class="w-75" />
                        </span>
                    </div>
                </div>
                <small class="mb-1 text-danger"><span asp-validation-for="DeliveryAddress.Street"></span></small>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Zipcode">Zip Code<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <input type="text" asp-for="Zipcode" class="form-control" placeholder="Zip Code">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/images/assets/form-city-marker.png" class="w-75" />
                            </span>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="Zipcode"></span></small>
                </div>

                <div class="form-group">
                    <label asp-for="DeliveryAddress.State">State<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <select asp-for="DeliveryAddress.State" asp-items="Html.GetEnumSelectList<States>()" class="form-control">
                            <option>@Model.DeliveryAddress.State</option>
                        </select>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="DeliveryAddress.State"></span></small>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="DeliveryAddress.City">City<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <input type="text" asp-for="DeliveryAddress.City" class="form-control" placeholder="Delivery Address">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/images/assets/form-contact-address-marker.png" class="w-75" />
                            </span>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="DeliveryAddress.City"></span></small>
                </div>

                <div class="form-group">
                    <label asp-for="DeliveryAddress.Country">Country<span class="text-danger">*</span></label>
                    <div class="input-group  agent-input">
                        <div class="input-group" id="agent-select-gender">
                            <select asp-for="DeliveryAddress.Country" asp-items="Html.GetEnumSelectList<Countries>()" class="form-control" disabled>
                                <option>@Model.DeliveryAddress.Country</option>
                            </select>
                        </div>
                    </div>
                    <small class="mb-1 text-danger"><span asp-validation-for="DeliveryAddress.Country"></span></small>
                </div>
            </div>
        </div>

        <div class="col-sm-1 offset-sm-5 mb-2">
            <div class="text-center">
                <button type="submit" class="btn text-white mt-3" style="background:green; width:125px">Save</button>
            </div>
        </div>
    </form>
</div>
