@{
    ViewData["Title"] = "Access Denied";
}


<section id="error" class="container text-center" style="padding-top:30px; padding-bottom:30px">
    <h1>401, Access Denied</h1>
    <p>You do not have acess to view this page...Ensure your email is confirmed</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">GO BACK TO THE HOMEPAGE</a>
</section><!--/#error-->
