@{
    ViewData["Title"] = "Error";
}


<section id="error" class="container text-center" style="padding-top:30px; padding-bottom:30px">
    <h1>500, Internal Server Error</h1>
    <p>Oop! Sorry you are experiencing this. Our engineering team will rectify the issue soon.</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">GO BACK TO THE HOMEPAGE</a>
</section><!--/#error-->