<div class="partner-div">
    <div class="container">
        <div class="partner-main">
            <div class="partner-title"><h2>Be a Partner</h2></div>
            <div class="partner-body">
                <div class="partner-info">
                    <img src="https://cdn.pixabay.com/photo/2018/04/25/08/40/hands-3348987_1280.jpg" alt="Become an agent">
                    <h5>Become An Agent</h5>
                    <p>
                        A Livestock247.com agent <strong>must</strong> be a qualified veterinary professional certified by the veterinary council of Nigeria (VCN)
                        or the Nigeria institute of animal science (Nias)
                    </p>
                    <button class="info-btn">Discover</button>
                </div>
                <div class="partner-info">
                    <img src="https://tinyurl.com/9m4umky6" alt="Abattoir">
                    <h5>Butchery/Abattoir</h5>
                    <p>
                        A Livestock247.com butcher <strong>must</strong> have at least 3 years experience. Important tools and space will be checked and the rest of
                        the qualities required will be discussed after your application approval
                    </p>
                    <button class="info-btn">Discover</button>
                </div>
            </div>
        </div>
    </div>
</div>   
