<section class="text-muted align-center home-our-blog my-0 py-5">
    <div class="container">

        

                <div class="scroller-container partz">

                    <div class="d-flex justify-content-between">
                        <h6 class="home-our-blog-text-bold">
                            Our Blog
                        </h6>
                        <div class="d-flex mb-2 mr-2">
                            <h2><i class="bi bi-arrow-left scrollerArrow scrollerPrevBtn"></i></h2>
                            <h2><i class="bi bi-arrow-right scrollerArrow scrollerNextBtn"></i></h2>
                        </div>
                    </div>
                    <div class="home-our-blog-container scroller">
                        <div class="home-our-blog-card slider-item">
                            <img src="~/images/assets/image-our-blog-1.png" alt="" />

                            <div class="text-dark p-4 d-flex flex-column justify-content-between">
                                <p>04 June 2019</p>
                                <h6 class="home-blog-title">
                                    ONLINE PLATFORM TO BRIDGE IN LIVESTOCK.....
                                </h6>
                                <div class="d-flex flex-column justify-content-between">
                                    <p class="home-blog-short-story">
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                    </p>
                                    <div class="">
                                        <img src="~/images/assets/eye-view.png" alt="" />
                                        <small>7.4k</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="home-our-blog-card slider-item">
                            <img src="~/images/assets/image-our-blog-2.png" alt="" />

                            <div class="text-dark p-4 d-flex flex-column justify-content-between">
                                <p>12 May 2019</p>
                                <h6 class="home-blog-title">
                                    WHY COW MILK
                                    SHOULDN’T BE CONSUM....
                                </h6>
                                <div class="d-flex flex-column justify-content-between">
                                    <p class="home-blog-short-story">
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                    </p>
                                    <div class="">
                                        <img src="~/images/assets/eye-view.png" alt="" />
                                        <small>9k</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="home-our-blog-card slider-item">
                            <img src="~/images/assets/image-our-blog-3.png" alt="" />

                            <div class="text-dark p-4">
                                <p>21 April 2019</p>
                                <h6 class="home-blog-title">
                                    THE MERIT OF RUNNING
                                    AN AGRICULTURAL BU.....
                                </h6>
                                <div class="d-flex flex-column justify-content-between">
                                    <p class="home-blog-short-story">
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                    </p>
                                    <div class="">
                                        <img src="~/images/assets/eye-view.png" alt="" />
                                        <small>7.4k</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="home-our-blog-card slider-item">
                            <img src="~/images/assets/image-our-blog-4.png" alt="" />

                            <div class="text-dark p-4">
                                <p>28 March 2019</p>
                                <h6 class="home-blog-title">
                                    WHY DO ROASTERS
                                    CROW ALL DAY?
                                </h6>
                                <div class="d-flex flex-column justify-content-between">
                                    <p class="home-blog-short-story">
                                        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                                    </p>
                                    <div class="">
                                        <img src="~/images/assets/eye-view.png" alt="" />
                                        <small>4.2k</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
           
    </div>
</section>
