<div class="platform">
    <div class="container">
        <div class="home-platform">
            <div class="home-head">
                <div class="bg"></div>
                <div class="img-info">
                    <img src="https://cdn.pixabay.com/photo/2019/09/13/15/13/chicken-4474176_1280.jpg" alt="livestock">
                </div>
            </div>
            <div class="home-body">
                <div class="home-text">
                    <h5>Sell your Livestock to Potential Buyers on our Platform Painlessly</h5>
                    <p>Livestock Producer, merchant or rancher's sell his product and get good value without stress and any in exception of the middlemen bugs</p>
                    <p class="bold">Are you a livestock merchant, trader or producer?</p>
                    <p class="bold">Are you a rancher?</p>
                    <p class="bold">Do you need a platform to sell your livestock that works 24/7 all day everyday?</p>
                    <button class="info-btn">Learn More</button>
                </div>

            </div>
        </div>
    </div>
</div>
