<section id="home-item-toggle-mobile" class="text-muted align-center home-items-container background-light-mobile my-0 py-3">
    <div class="container">
        <div class="home-partz">

            <div class="d-lg-flex text-md-center home-items-container-mobile-view justify-content-lg-start">
                <div class="col-lg-4 text-lg-left text-white">
                    <h6 class="home-tracking-text-bold">
                        Easily Track Livestock
                        With Their Chip Number
                    </h6>
                    <h6 class="home-tracking-text-light home-tracking-text-mobile mt-5">Get to know the status of your order either by location or  condition and also the specific amount of time it’ll take the parcel to get to your current location </h6>
                </div>
                <div class=" d-flex flex-column text-lg-left justify-content-center text-white margin-left">
                    <h6 class="home-tracking-text-bold mb-4">
                        Track your livestock
                    </h6>
                    <div class="subscribe-container">
                        <input id="trackingIndex1" class="subscribe-input p-2 home-mobile-border" type="text" placeholder="Input your chip number here" />
                        <button onclick="TrackingBtn2(this)" class="btn m-0 button-search-tracking text-light">
                            <img class="ml-4 tracking-search-icon" src="~/images/assets/search.png" alt="search tracking item" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
<script src="~/js/TrackingHistory.js"></script>

