<section class="text-muted align-center home-about-us my-0 py-5">
    <div class="container">
        <div class="home-partz">

            <div class="d-lg-flex text-md-center py-4 pr-lg-5">
                <div class="col-lg-5 text-lg-left text-white home-about-us-img-container">
                    <img class="home-about-us-img" src="~/images/assets/image-about-us.png" alt="About us" />
                </div>
                <div class="d-flex flex-column text-lg-left text-white">
                    <h6 class="home-about-us-text-bold mb-4">
                        About Us
                    </h6>
                    <div class="about-us-text-container text-dark">
                        <p>
                            Livestock247.com is an online livestock market and listing <br />platform.<br />
                            We are based in Africa, Nigeria.
                        </p>
                        <p>
                            We work together to  create and produce good food that we are <br />proud of for people and organizations. <br />
                            we believe in bringing together;
                        </p>
                    </div>
                    <div class="our-members-list text-dark justify-content-between">
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-1.png" alt="Buyers" />
                            <p>Buyers</p>
                        </div>
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-2.png" alt="Sellers" />
                            <p>Sellers</p>
                        </div>
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-3.png" alt="Buyers" />
                            <p>Ranchers</p>
                        </div>
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-4.png" alt="Sellers" />
                            <p>Livestock Merchants and Traders</p>
                        </div>
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-5.png" alt="Sellers" />
                            <p>Veterinary professionals</p>
                        </div>
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-6.png" alt="Sellers" />
                            <p>Haulage and Logistics Companies</p>
                        </div>
                        <div class="text-center">
                            <img class="" src="~/images/assets/member-7.png" alt="Sellers" />
                            <p>Financial Service Providers</p>
                        </div>
                    </div>

                    <div class="mt-5">
                        <a asp-action="AboutUs" asp-controller="Home" class="text-light button-secondary btn shadow login-nav-btn">Discover</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
