<div class="scroller-container partz mt-4 mb-3">
    <div class="container">
        <div class="mb-2">
            <h2 class="font-weight-bold site-color float-left ">Our Partners</h2>
            <span class="d-flex justify-content-end">
                <h2><i class="bi bi-arrow-left scrollerArrow scrollerPrevBtn"></i></h2>
                <h2><i class="bi bi-arrow-right scrollerArrow scrollerNextBtn"></i></h2>
            </span>
        </div>
        <div>
            <div class="d-flex flex-row scroller hide-scrollbar" style="overflow-y:scroll; position: relative;">
                <div id="slider-item-1" class="p-4 pt-1 mr-4 bg-white slider-item minw-250px border-grey round-border">
                    <img src="images/assets/sponge.png" />
                </div>
                <div id="slider-item-1" class="p-4 pt-1 mr-4 bg-white slider-item minw-250px border-grey round-border">
                    <img src="images/assets/farmgate.png" />
                </div>
                <div id="slider-item-1" class="p-4 pt-1 mr-4 bg-white slider-item minw-250px border-grey round-border">
                    <img src="images/assets/sterling.png" />
                </div>
                <div id="slider-item-1" class="p-4 pt-1 mr-4 bg-white slider-item minw-250px border-grey round-border">
                    <img src="images/assets/ld4d.png" />
                </div>
                <div id="slider-item-1" class="p-4 pt-1 mr-4 bg-white slider-item minw-250px border-grey round-border">
                    <img src="images/assets/the meat embassy.png" />
                </div>
            </div>
        </div>
    </div>
</div>