<div class="scroller-container partz mt-5 mb-5">
    <div class="container">
        <div class="mb-2">
            <h2 class="font-weight-bold site-color float-left">Satisfied Clients</h2>
            <div class="d-flex justify-content-end">
                <h2><i class="bi bi-arrow-left scrollerArrow scrollerPrevBtn"></i></h2>
                <h2><i class="bi bi-arrow-right scrollerArrow scrollerNextBtn"></i></h2>
            </div>
        </div>
        <div>
            <div class="d-flex flex-row scroller hide-scrollbar" style="overflow-y:scroll; position: relative;">
                <div id="slider-item-1" class="testimonial-card p-4 pt-1 mr-4 bg-white round-border border-grey slider-item">
                    <div class="row h-half">
                        <div class="col-8 d-flex justify-content-start">
                            <small class="text-secondary">
                                I really love the product and the delight coupons you guys always serve me with.
                            </small>
                        </div>
                    </div>
                    <div class="mt-2 d-flex flex-row">
                        <img src="images/assets/dummy man.jpg" class="rounded-circle border-grey mr-3" style="width: 40px; height: 40px; object-fit: cover;" />
                        <div class="mr-5 pt-1 text-green"><small class="font-weight-bold">Daniel Toyin</small></div>
                        <div class="pt-1 text-grey"><small>Sales Rep. Vegax Initiative</small></div>
                    </div>
                </div>
                <div id="slider-item-2" class="testimonial-card p-4 pt-1 mr-4 bg-white round-border border-grey slider-item">
                    <div class="row h-half">
                        <div class="col-8 d-flex justify-content-start">
                            <small class="text-secondary">
                                Quality product for the money.
                            </small>
                        </div>
                    </div>
                    <div class="mt-2 d-flex flex-row">
                        <img src="images/assets/dummy woman.jpg" class="rounded-circle border-grey mr-3" style="width: 40px; height: 40px; object-fit: cover;" />
                        <div class="mr-5 pt-1 text-green"><small class="font-weight-bold">Ogunbiyi Ibrahim</small></div>
                        <div class="pt-1 text-grey"><small>Marketer. Dreamland Tech.</small></div>
                    </div>
                </div>
                <div id="slider-item-3" class="testimonial-card p-4 pt-1 mr-4 bg-white round-border border-grey slider-item">
                    <div class="row h-half">
                        <div class="col-8 d-flex justify-content-start">
                            <small class="text-secondary">
                                I highly recommend this service.
                            </small>
                        </div>
                    </div>
                    <div class="mt-2 d-flex flex-row">
                        <img src="images/assets/dummy man 1.jpg" class="rounded-circle border-grey mr-3" style="width: 40px; height: 40px; object-fit: cover;" />
                        <div class="mr-5 pt-1 text-green"><small class="font-weight-bold">Chukwu Ebuka</small></div>
                        <div class="pt-1 text-grey"><small>CEO. Sparky Tech.</small></div>
                    </div>
                </div>
                <div id="slider-item-4" class="testimonial-card p-4 pt-1 mr-4 bg-white round-border border-grey slider-item">
                    <div class="row h-half">
                        <div class="col-8 d-flex justify-content-start">
                            <small class="text-secondary">
                                I will surely be patronising again.
                            </small>
                        </div>
                    </div>
                    <div class="mt-2 d-flex flex-row">
                        <img src="images/assets/dummy woman 1.jpg" class="rounded-circle border-grey mr-3" style="width: 40px; height: 40px; object-fit: cover;" />
                        <div class="mr-5 pt-1 text-green"><small class="font-weight-bold">Tina Preye</small></div>
                        <div class="pt-1 text-grey"><small>CEO. Boxly</small></div>
                    </div>
                </div>
                <div id="slider-item-4" class="testimonial-card p-4 pt-1 mr-4 bg-white round-border border-grey slider-item">
                    <div class="row h-half">
                        <div class="col-8 ml-0 pl-2 d-flex justify-content-start">
                            <small class="text-secondary">
                                Exceeded my expectations.
                            </small>
                        </div>
                    </div>
                    <div class="mt-2 d-flex flex-row">
                        <img src="images/assets/dummy woman 2.jpg" class="rounded-circle border-grey mr-3" style="width: 40px; height: 40px; object-fit: cover;" />
                        <div class="mr-5 pt-1 text-green"><small class="font-weight-bold">Aisha Moshood</small></div>
                        <div class="pt-1 text-grey"><small>CEO. Fizz Solutions</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>