@{
    ViewData["Title"] = "About Us";
}


<!-- Landing Jumbotron -->
<section class="outer-container">

    <div class="ld-Jumbotron">

        <h1 style="text-transform: capitalize; font-size: 40px;">About Us</h1>
    </div>
</section>
<br />
<!-- who we are  -->
<section class="">
    <div class="container p-5">
        <div class="d-flex mb-5">
            <div class="about-us-members-list-container">
                <div class="who-Jumbotron Jumbotron rounded p-4">
                    <h2>Who we are</h2>
                    <p>Livestock247 is an online livestock farm and listing platform.</p>
                    <p>
                        We are based in Nigeria.
                        <br />
                        We work together to create and produce good food that we are proud of for people and organisations.
                    </p>
                    <br />
                    <div class="img-container">
                        <div class="about-us-member-img justify-content-between">
                            <div class="">
                                <figure>
                                    <img src="/images/assets/shopping.png" alt="shopping image" />
                                    <figcaption>Buyer</figcaption>
                                </figure>
                            </div>
                            <div class="">
                                <figure>
                                    <img src="/images/assets/Group 8.png" alt="sellers image" />
                                    <figcaption>Sellers</figcaption>
                                </figure>
                            </div>
                            <div class="">
                                <figure>
                                    <img src="/images/assets/farmer.png" alt="farmer image" />
                                    <figcaption>Ranchers</figcaption>
                                </figure>
                            </div>
                            <div class="">
                                <figure>
                                    <img src="/images/assets/suitcase.png" alt="shopping image" />
                                    <figcaption>Livestock Merchants and Traders</figcaption>
                                </figure>
                            </div>
                            <div class="">
                                <figure>
                                    <img src="/images/assets/doctor.png" alt="shopping image" />
                                    <figcaption>Veterinary professionals</figcaption>
                                </figure>
                            </div>
                            <div class="">
                                <figure>
                                    <img src="/images/assets/delivery-truck.png" alt="Haulage and Logistics image" />
                                    <figcaption>Haulage and Logistics Companies</figcaption>
                                </figure>
                            </div>
                            <div class="">
                                <figure>
                                    <img src="/images/assets/customer-service.png" alt="Haulage and Logistics image" />
                                    <figcaption>Financial Service Providers</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="who-img">
                    <img src="/images/assets/cowphoto.png" alt="vertinary doctor" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features  -->
<section class="bg-white">
    <div class="container p-5 ml-10">
        <div class="mb-5">
        </div>
        <div class="col-12 feat-containa">
            <div class="blue-container">
                <div class=" col-12 feat-Jumbotron rounded box-shadow p-4">
                    <img src="/images/assets/man.png" alt="Alternate Text" />
                </div>
            </div>
            <div class="feature">
                <h2 style="margin-left: 3px;">Features</h2>
                <br />
                <ul class="fa-ul feaure-list">
                    <li><i class="fa-li fa fa-check-square"></i>Ability to buy fit for slaughter and traceable livestock, and livestock product.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Ability to sell Livestock by Merchants, Ranchers and Feedlot Operators etc.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Ability to buy Livestock anywhere in Nigeria and get it delivered.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Ability to buy Livestock according to breed, weight, colour, age and sex.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Ability to trace purchased livestock from "farm to plate"</li>
                    <li><i class="fa-li fa fa-check-square"></i>Secure online payment</li>
                    <li><i class="fa-li fa fa-check-square"></i>Fast and stress-free delivery.</li>
                </ul> 
            </div>
           
        </div>
    </div>
</section>

<!-- Meet the Family -->
<section>
    <div class="container p-5 ml-10">
        <div class="mb-5">
            <h2 class="brand pl-0" style="color:#2078bf"> Meet the Family</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="overlay">
                <div class=" mth-Jumbotron rounded box-shadow">

                </div>
                <footer>
                    <P>Our Technical Team</P>
                </footer>
            </div>
            
        </div>
        
    </div>
</section>

<partial name="_FooterMidPartial" />
<partial name="_FooterLowerPartial" />